<div class="row" style="padding: 8px">
    <div class="col-lg-12">
        <h1 align="center">All Things Common</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 card" style="border: none">
        <div class="card-body">
            <blockquote class="blockquote">
                <p>
                    And all that believed were together, 
                    and had all things common;<br/>
                    And sold their possessions and goods, 
                    and parted them to all men, as every man had need.
                </p>
                <footer class="blockquote-footer">
                    <a href="https://www.lds.org/scriptures/nt/acts/2.44-45#p44">Acts 2:44:45</a>
                </footer>
            </blockquote>
        </div>
    </div>
    <div class="col-lg-4 card" style="border: none">
        <div class="card-body"> 
            <blockquote class="blockquote">
                <p>
                    And they had all things common among them; 
                    therefore there were not rich and poor, bond 
                    and free, but they were all made free, and 
                    partakers of the heavenly gift.
                </p>
                <footer class="blockquote-footer">
                    <a href="https://www.lds.org/scriptures/bofm/4-ne/1.3#p3">4 Nephi 1:3</a>
                </footer>
            </blockquote>
        </div>
    </div>
    <div class="col-lg-4 card" style="border: none">
        <div class="card-body">
            <blockquote class="blockquote">
                <p>
                    And the Lord called his people Zion, 
                    because they were of one heart and one mind, 
                    and dwelt in righteousness; and there was no 
                    poor among them.
                </p>
                <footer class="blockquote-footer">
                    <a href="https://www.lds.org/scriptures/pgp/moses/7.18#p18">Moses 7:18</a>
                </footer>
            </blockquote>
        </div>
    </div>
</div>
<div class="row" style="padding:8px">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#!red" ng-click="ancient = true;modern=false">Ancient Times</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#!red" ng-click="ancient = false;modern=true">Modern Times</a>
            </li>
        </ul>
    </div>
</div>
<div class="row" style="padding:8px">
    <div class="col-lg-12">
        <div class="tab-content">
            <div class="tab-pane active container" id="ancient" ng-show="ancient">
                <h4>All Things Common in Ancient Times</h4>
                <div class="card float-right" style="max-width: 310pt">
                    <div class="card-body">
                        <img class="img-fluid rounded" src="https://www.lds.org/scriptures/bc/scriptures/ot/gen/5/images/006-006-city-of-zion-is-taken-up-full.jpg" alt="City of Enoch">    
                    </div>
                    <div class="card-footer text-center">
                        City of Enoch
                    </div>
                </div>
                <p>
                    In ancient times groups of righteous saints lived the Law of Consecration and the scriptures record them having “all things common”. They shared their resources so that poverty would not exist and all temporal needs would be met. 
                </p>
                <p>
                    In the new testament on the day of Pentecost the Holy Spirit was poured out and Peter testifies of Jesus’s resurrection. The people’s hearts were pricked by the Holy Ghost and they asked Peter what they should do. Peter responded that they should repent and be baptized, and that day 3000 souls were baptized. Afterwards it says, “And all that believed were together, and had all things common; And sold their possessions and goods, and parted them to all men, as every man had need (
                    <a href="https://www.lds.org/scriptures/nt/acts/2.44-45#p44">Acts 2:44:45</a>
                    ). Whether having “all things common” was a policy of the church at this time, or if the saints lived this way out of the goodness of their hearts and a desire to follow the commandments is not recorded in the bible. What is known is that they were able to rise above personal selfishness and give of what they had to help those around them who had less. 
                </p>
                <p>
                    In the Book of Mormon after the visitation of Jesus Christ the people lived very happily. The wicked had been destroyed in the natural disasters and destruction that followed Christ’s death on the cross, and the righteous had spent a period of time being taught by the Savior Himself. In 4th Nephi it records that, “the people were all converted unto the Lord” (
                    <a href="https://www.lds.org/scriptures/bofm/4-ne/1.2#p2">4 Nephi 1:2</a>
                    ). All were striving to live the gospel as they had just been instructed, and as part of that “they had all things common among them; therefore there were not rich and poor, bond and free” (
                    <a href="https://www.lds.org/scriptures/bofm/4-ne/1.3#p3">4 Nephi 1:3</a>
                    ).  Later Mormon says, “…and surely there could not be a happier people among all the people who had been created by the hand of God.” (
                    <a href="https://www.lds.org/scriptures/bofm/4-ne/1.16#p16">4 Nephi 1:16</a>
                    ). I am sure that their love for their neighbors and their selflessness played a large roll in creating such a happy people. 
                </p>
                <p>
                    Thousands of years ago the Lord called the prophet Enoch to preach. Enoch received great spiritual power and preached repentance and baptism. After all were converted or had fled the land, they formed a city named Zion. The people of Zion were so righteous that the city was eventually carried up into heaven. Moses writes, “they were of one heart and one mind, and dwelt in righteousness; and there was no poor among them” (
                    <a href="https://www.lds.org/scriptures/pgp/moses/7.18#p18">Moses 7:18</a>
                    ). Once again love for God and for fellow man motivated a people to share and eliminate poverty from their midst. 
                </p>
                <p>
                    In both the Americas and in Israel Jesus preached, “Lay not up for yourselves treasures upon earth, where moth and rust doth corrupt, and thieves break through and steal; But lay up for yourselves treasures in heaven, where neither moth nor rust doth corrupt, and where thieves do not break through nor steal. For where your treasure is, there will your heart be also” (
                    <a href="https://www.lds.org/scriptures/bofm/3-ne/13.19-21#p19">3 Nephi 13:19-21</a>
                    Many peoples throughout history took this commandment to heart. They were more concerned with the wellbeing of those around them than the treasures that they had obtained. They were looking towards a heavenly reward, which the people of Enoch were able to obtain directly as a result of their righteousness. Whether by commandment or by personal motive they decided to share all they had with those around them, and they were blessed in return. 
                </p>
            </div>
            <div class="tab-pane active container" id="modern" ng-show="modern">
                <h4>All Things Common in Modern Times</h4>
                <div class="card float-right"  style="max-width: 310pt">
                    <div class="card-body">
                        <img class="img-fluid rounded" src="https://upload.wikimedia.org/wikipedia/commons/e/e5/Edward_Partridge_Sr.gif" alt="Edward Partridge">    
                    </div>
                    <div class="card-footer text-center">
                        Edward Partridge
                    </div>
                </div>
                <p>
                    Although the Law of Consecration has always been in effect and 
                    was never and will never be revoked, the practice of all things 
                    common was only implemented for a short while in Missouri. This 
                    is the application of the Law of Consecration that Latter Day 
                    Saints generally confuse with the law itself. 
                </p>
                <p>
                    Doctrine and Covenants 51:3 says, “Wherefore, let my servant 
                    Edward Partridge, and those whom he has chosen, in whom I am 
                    well pleased, appoint unto this people their portions, every 
                    man equal according to his family, according to his circumstances 
                    and his wants and needs.”. Edward Partridge was the bishop at this 
                    time and would receive consecrated property from the saints and 
                    then distribute that property as was needful among them. 
                </p>
                <p>
                    In a paper on the Law of Consecration Steven C Harper shares the 
                    story of Levi Jackman and his experience with the Law of Consecration. 
                    “In 1831, Levi Jackman met Joseph Smith, read the Book of Mormon, and 
                    converted. He and other converts gathered to Zion in Jackson County, 
                    Missouri. There he deeded his property to Bishop Partridge, on behalf
                    of the Church, “of [his] own free will.” It was not much—”sundry articles 
                    of furniture valued thirty seven dollars, also two beds, bedding, and 
                    feathers valued forty four dollars fifty cents, also three axes and 
                    other tools valued eleven dollars and twenty five cents”—but it was all 
                    he possessed. In return, Brother Jackman received a parcel of land in 
                    present-day Kansas City and “sundry articles of furniture . . . 
                    two beds bedding and feathers . . . also three axes and other tools.”
                     Brother Jackman offered the Lord all he had. The Lord returned his 
                     meager offering and added a handsome farm.” 
                     <a href="https://rsc.byu.edu/archived/selected-articles/all-things-are-lord-s-law-consecration-doctrine-and-covenants">(Steven C Harper)</a>
                     . For the majority of people the practice of all things common was 
                     a great blessing and not a burden, and was simply a way of the more 
                     well off saints helping those that had less. 
                </p>
            </div>
        </div>
    </div>
</div>
